.accordion-main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.accordion-container {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 15rem;
	justify-content: center;
	align-items: center;
	padding: 30rem;
	border-radius: 15rem;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
	width: 800px;
}

.accordion-container h2 {
	font-size: 36rem;
}

.accordion-container h3 {
	font-size: 20rem;
	font-weight: 400;
	text-align: center;
}

.accordion-tabs-container {
	width: 100%;
}
