.star-rating-container {
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	text-align: center;
}

.star-content-container {
	background-color: #ffffff;
	color: #111;
	padding: 30rem;
	display: flex;
	flex-direction: column;
	gap: 15rem;
	border-radius: 10rem;
	box-shadow: 10rem 10rem 0 rgba(255, 255, 255, 0.2);
	max-width: 550px;
}

.star-item-container {
	display: flex;
	justify-content: center;
	width: auto;
	gap: 15rem;
}

.star-style {
	color: #aaa;
	cursor: pointer;
	border: none;
	background-color: transparent;
}
