@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 6.25%;
}

body {
	background-color: rgb(35, 5, 70);
	font-size: 16rem;
	font-family: "Ubuntu", sans-serif;
	height: 100vh;
}

main {
	display: flex;
}

.content {
	width: 100%;
}
