.results-rating-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10rem;
	border-radius: 10rem;

	.icon {
		display: flex;
		align-items: center;
		gap: 10rem;
		font-weight: bold;
	}

	.rating {
		font-weight: bold;
		color: hsl(241, 100%, 90%);

		b {
			color: hsl(224, 30%, 27%);
		}
	}
}
